/*CABEÇALHO*/

/*Imports Necessários*/
@import "comuns.scss";

#cabecalho {
    width: 100%;
    background-color: $cor-primaria;
    padding: 10px;
    position: fixed;
    z-index: 1;

    @include display(flex, row, center, center, 30px);

    img {
        width: 200px;
        border-right: solid 3px $cor-clara;
        padding-right: 30px;
       
    }

    h1 {
        color: $cor-clara;
        font-size: 2rem;
        margin: 0;
    }

    #token {
        font-size: 1rem;
        font-weight: bold;
        color: $cor-clara;
        margin: 0;

        span {
            background-color: $cor-clara;
            padding: 2px 5px;
            border-radius: 5px;
            color: $cor-escura;
        }
    }

}