/*CHAMADOS NOVOS*/

/*Imports necessários*/
@import "comuns.scss";

#chamados-novos {
    @include display(flex, column, center, center, 0px);
     background-image: url(/Assets/backgrond-body.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

    
    #form-novos-chamados {
       width: 500px;
       background-color: $cor-clara;
       padding: 15px;
       border-radius: 15px;
        
        @include display(flex, column, center, start, 10px);

        h2{
            font-size: 1.5rem;
            width: 100%;
            text-align: center;
            color: $cor-secundaria;
         }
    
        span{
            color: red;
            width: 100%;
            text-align: right;
        }
        
        .container-campo{
            @include display(flex, column, center, start, 2px);
            width: 100%;

            label{
                color: $cor-secundaria;
                font-weight: bold;
                span{
                    font-size: .8rem;
                    color: red;
                }
            }

            input, textarea{
                width: 100%;
                padding: 0 0 0 5px;
                border-radius: 5px;
                color: $cor-secundaria;

                &::placeholder{
                    color: $cor-placeholder;
                }
            }

            select{
                width: 50%;
                border-radius: 5px;
                padding: 5px;
                color: $cor-primaria;
            }
        }

        .container-botoes{
            @include display(flex, row, center, center, 10px);
            width: 100%;
        

            button{
                width: 50%;
                font-weight: bold;
            }

            #btn-cancelar-chamado{
                border: solid .5px $cor-placeholder;
                color: $cor-placeholder;

                &:hover{
                    background-color: $cor-placeholder;
                    color: $cor-clara;
                    border: none;
                }
            }

            #btn-criar-chamado{
                background-color: $cor-primaria;
                color: $cor-clara;

                &:hover{
                    background-color: $cor-secundaria;
                }
            }
        }
    }
}